


/*******************
*  MOBILE STYLES   *
*******************/

/*GLOBAL STYLES
=======================================*/


img {
  object-fit: contain;
}

body {
  line-height: 1.5;
  font-size: 100%;

}

section {
  border-bottom: 1px solid black;
  margin: 0 3%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}


/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
  color: #AAA;
}



/*******************
*  DESKTOP STYLES   *
*******************/
/*larger than 640px*/
@media only screen and (min-width: 640px){



}
