



#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.acknowledgements{

}

nav li{
    display: none;
    position: relative;
}
nav:hover li {
    display: block;
    position: relative;
}
nav:hover img{
  display: none;
}
/*******************
*  DESKTOP STYLES   *
*******************/
/*larger than 640px*/

@media only screen and (min-width: 640px) {

.mobile-menu img{
  display: none;
}






}
